.item {
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
  max-width: 100%;
  overflow: hidden;

  a {
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: start;
  }
}

.outer {
  a {
    font-weight: 600;
    background-color: inherit;
    min-height: 24px;
    padding: 10px 14px;
    border: 1px solid transparent;
    border-radius: 4px;
    transition-duration: 0.4s;

    &[class*="active"] {
      color: $black_color;
    }

    &:hover {
      background-color: $main_background_light_color;
      color: $white_color;
      border: 1px solid $main_border_light_color;
    }
  }

  .icon {
    width: 32px;
    height: 32px;
    margin-right: 12px;
    position: relative;
    color: $black_color;
  }
}

.child {
  margin-left: 41px;
}

.flexWrap {
  flex-wrap: nowrap;
}

.stick {
  width: 6px;
  height: 54px;
  color: $main_color;
  background-color: $main_background_color;
  border-radius: 5px;
  float: right;

  position: absolute;
  right: -3px;
  top: 0;
}
