.item {
  cursor: pointer;
  line-height: 16px;
  font-weight: bold;
  text-decoration: none;
  background-color: inherit;
  border-radius: 4px;
  transition-duration: 0.4s;

  .wrapperButton {
    position: relative;
    overflow: hidden;
    display: flex;
    padding: 10px 14px;
    margin-bottom: 10px;

    .arrow {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 15px;
      height: 15px;
      margin-top: 9px;
      transform: rotate(180deg);
    }

    svg {
      color: $background_light_gray_color;
      transition-duration: 0.4s;
      align-self: center;
    }

    &:hover {
      background-color: $main_background_light_color;
      color: $white_color;
      border-radius: 4px;
      transition-duration: 0.4s;

      svg {
        color: $white_color;
      }
    }
  }

  button {
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: start;
    width: 100%;

    min-height: 24px;

    .text {
      font-weight: 600;
      font-size: 20px;
      line-height: 120%;
      cursor: pointer;
    }

    .text:hover {
      color: $white_color;
    }

    .icon {
      width: 32px;
      height: 32px;
      margin-right: 12px;
      cursor: pointer;
    }
  }

  &.open {
    .arrow svg {
      transform: rotate(180deg);
    }
  }
}

.stick {
  width: 6px;
  height: 54px;
  color: $main_color;
  background-color: $main_background_color;
  border-radius: 5px;
  float: right;

  position: absolute;
  right: -3px;
  top: 0;
}

.innerContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
