// backgrounds
$main_background_color: #4f27bf;
$main_background_light_color: #9f83eb;
$background_light_gray_color: #a8a8a8;
$background_white_color: #fff;

// colors
$main_color: #4f27bf;
$black_color: #000;
$some_dark_color: #1c1c1e;
$white_color: #fff;
$blue: #002bc5;

// borders
$main_border_color: #4f27bf;
$main_border_light_color: #9f83eb;
$main_border_darker_color: #4f27bf;
