.address {
  &Wrapper {
    color: $black_color;
    padding: 32px 32px 0 32px;
    width: 82%;

    @media (max-width: 768px) {
      width: 100%;
    }
  }
  &Title {
    font-weight: 700;
    font-size: 26px;
    line-height: 123%;
    color: $some_dark_color;
    margin-bottom: 8px;
  }
  &Description {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    margin: 8px 0 12px 0;
  }
  &Search {
    display: flex;
    gap: 24px;
    margin-bottom: 32px;

    @media (max-width: 768px) {
      gap: 12px;
    }
  }
  &SearchField {
    width: 74%;
    overflow: hidden;

    input {
      width: 96%;
      min-width: 34%;

      @media (max-width: 1168px) {
        width: 93%;
      }

      @media (max-width: 768px) {
        width: 90%;
      }

      @media (max-width: 568px) {
        width: 84%;
      }

      @media (max-width: 468px) {
        width: 80%;
      }
    }
  }
  &SearchButton {
    width: 23%;

    @media (max-width: 568px) {
      div {
        svg {
          margin: 0;
        }
        div {
          display: none;
        }
      }
    }
  }
}
